<div class="row">
    <div class="col-lg-6">
        <div class="text-center">
            <label>Hello: <%= @user.name %></label>
        </div>
        <%= link_to "Logout", logout_path, method: :delete%>
    </div>
</div>